@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "icomoon";
    font-size: 20px;
    line-height: 1;
    color: black;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: ""; }
    [dir="rtl"] .slick-prev:before {
      content: ""; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: ""; }
    [dir="rtl"] .slick-next:before {
      content: ""; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "icomoon";
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  footer img {
    width: 60px; }

/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    transform: scale(0.8); } }
* {
  padding: 0;
  margin: 0; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 20px 20px; }

h1 {
  color: #212121;
  font-size: 42px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 20px; }

h2 {
  color: #212121;
  font-size: 38px;
  line-height: 40px; }

h3 {
  color: #212121;
  font-size: 34px;
  line-height: 36px; }

h4 {
  color: #212121;
  font-size: 30px;
  line-height: 32px; }

h5 {
  color: #212121;
  font-size: 26px;
  line-height: 28px; }

h6 {
  color: #212121;
  font-size: 22px;
  line-height: 24px; }

p {
  color: #616161;
  font-size: 20px; }
  @media (max-width: 767px) {
    p {
      font-size: 16px; } }

a {
  font-size: 20px;
  color: #de2127; }
  a:hover {
    color: #838384;
    text-decoration: none; }

img {
  display: block;
  margin: 0 auto; }

.la-menu {
  background: #838384;
  height: 100vh;
  width: 300px;
  position: fixed;
  left: -300px;
  transition: left 0.3s ease-in;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 599px) {
    .la-menu {
      width: 100%;
      left: -100%; } }
  .la-menu.active {
    left: 0;
    transition: left 0.3s ease-out; }

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .main-menu li {
    padding: 10px 0;
    width: 70%; }
    .main-menu li a {
      color: #fff; }
      .main-menu li a:hover {
        text-decoration: none;
        color: #de2127; }

.social-nav {
  list-style: none;
  margin: 0;
  padding: 20px 0;
  display: flex;
  width: 50%;
  align-self: center;
  justify-content: center; }
  .social-nav li {
    padding: 10px; }
    .social-nav li a {
      color: #212121;
      font-size: 0px; }
      .social-nav li a[href*='facebook']:before {
        content: '\e906';
        font-family: 'icomoon';
        font-size: 30px; }
      .social-nav li a[href*='twitter']:before {
        content: '\e905';
        font-family: 'icomoon';
        font-size: 30px; }
      .social-nav li a[href*='instagram']:before {
        content: '\e904';
        font-family: 'icomoon';
        font-size: 30px; }
      .social-nav li a:hover {
        text-decoration: none;
        color: #fff; }

.drawer-trigger {
  border: none;
  background: none;
  position: absolute;
  left: 20px; }
  .drawer-trigger:focus {
    outline: none; }
  .drawer-trigger:before {
    content: '\e903';
    font-family: 'icomoon';
    font-size: 40px;
    color: rgba(131, 131, 132, 0.5); }

.close-trigger {
  border: none;
  background: none;
  position: absolute;
  left: 250px;
  top: 10px; }
  .close-trigger:focus {
    outline: none; }
  .close-trigger:before {
    content: '\e902';
    font-family: 'icomoon';
    font-size: 40px;
    color: #fff; }

.content-container .main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
.content-container.splash .main-section img.logo-text {
  width: 100%;
  max-width: 300px; }
.content-container.splash .main-section img.lightning-bolts {
  width: 100%;
  max-width: 150px; }
.content-container.splash .main-section img.splash-type {
  width: 100%;
  max-width: 300px;
  margin-top: 50px; }
.content-container.about.ng-enter {
  animation: scaleUp 0.5s both ease-in; }
.content-container.about .main-section .logo-text {
  width: 100%;
  max-width: 300px; }
.content-container.about p {
  max-width: 980px;
  display: block;
  margin: 20px auto; }
.content-container.products .main-section img.logo-text {
  width: 100%;
  max-width: 300px; }
.content-container.products .main-section img.lightning-bolts {
  width: 100%;
  max-width: 150px; }
.content-container.products .main-section .product-container {
  width: 100%;
  max-width: 980px;
  margin: 20px auto; }
.content-container.products .main-section .product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .content-container.products .main-section .product-grid .item-container {
    flex-basis: 300px;
    width: 30%;
    height: auto;
    background: #eee;
    margin: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    max-height: 367px; }
    .content-container.products .main-section .product-grid .item-container .outOfStock,
    .content-container.products .main-section .product-grid .item-container .comingSoon {
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: background .3s; }
      .content-container.products .main-section .product-grid .item-container .outOfStock h3,
      .content-container.products .main-section .product-grid .item-container .comingSoon h3 {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .content-container.products .main-section .product-grid .item-container img {
      width: 250px;
      transition: width .3s; }
    .content-container.products .main-section .product-grid .item-container:hover {
      background: #e0e0e0;
      transition: background .3s; }
      .content-container.products .main-section .product-grid .item-container:hover img {
        width: 260px;
        transition: width .3s; }
    .content-container.products .main-section .product-grid .item-container:before {
      content: '';
      background: rgab(0, 0, 0, 0.3); }
.content-container.product-details .main-section img.logo-text {
  width: 100%;
  max-width: 300px; }
.content-container.product-details .main-section img.lightning-bolts {
  width: 100%;
  max-width: 150px; }
.content-container.product-details .main-section .product-container {
  width: 100%;
  max-width: 980px;
  margin: 20px auto; }
.content-container.product-details .main-section .product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .content-container.product-details .main-section .product-grid .item-container {
    flex-basis: 400px;
    width: 30%;
    height: auto;
    background: transparent;
    margin: 10px;
    padding: 20px;
    text-align: center; }
    .content-container.product-details .main-section .product-grid .item-container img {
      width: 100%; }
    .content-container.product-details .main-section .product-grid .item-container:before {
      content: '';
      background: rgab(0, 0, 0, 0.3); }
    .content-container.product-details .main-section .product-grid .item-container .buy-button {
      background: #838384;
      color: #fff;
      padding: 7px 15px;
      transition: background .3s; }
      .content-container.product-details .main-section .product-grid .item-container .buy-button:hover {
        background: #de2127;
        transition: background .3s; }
.content-container.contact .main-section img.logo-text {
  width: 100%;
  max-width: 300px; }
.content-container.contact .main-section img.lightning-bolts {
  width: 100%;
  max-width: 150px; }
.content-container.contact .main-section .contact-link {
  margin: 20px 0;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
