$badge-width: 60px;

.content-container {

  .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // Splash Page
  // ===============
  &.splash {
    .main-section {
      img {

        &.logo-text {
          width: 100%;
          max-width: 300px;
        }

        &.lightning-bolts {
          width: 100%;
          max-width: 150px;
        }

        &.splash-type {
          width: 100%;
          max-width: 300px;
          margin-top: 50px;
        }
      }

    }//end main-section
  }//end splash page

  // About Page
  // ===============
  &.about {
    &.ng-enter {
      animation: scaleUp 0.5s both ease-in; 
    }
    .main-section {

      .logo-text {
        width: 100%;
        max-width: 300px;
      }

    }

    p {
      max-width: 980px;
      display: block;
      margin: 20px auto;
    }//end main-section
  }//end about page

  // Products Page
  // ===============

  &.products {
    .main-section {

      img {
        &.logo-text {
          width: 100%;
          max-width: 300px;
        }

        &.lightning-bolts {
          width: 100%;
          max-width: 150px;
        }
      }//end image

      .product-container {
        width: 100%;
        max-width: 980px;
        margin: 20px auto;
      }

      .product-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // justify-content: space-around;

        .item-container {
          flex-basis: 300px;
          width: 30%;
          height: auto;
          background: #eee;
          margin: 10px;
          padding: 20px;
          text-align: center;

          img {
            width: 200px;
          }

          &:hover {
            background: #e0e0e0;

            img {
              width: 170px;
            }
          }

          &:before {
            content: '';
            background: rgab(0,0,0, 0.3);

          }


        }
      }


    }//end main-section
  }//end product page

  // Details Page
  // ===============
  &.product-details {
    .main-section {

      img {
        &.logo-text {
          width: 100%;
          max-width: 300px;
        }

        &.lightning-bolts {
          width: 100%;
          max-width: 150px;
        }
      }//end image

      .product-container {
        width: 100%;
        max-width: 980px;
        margin: 20px auto;
      }

      .product-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // justify-content: space-around;

        .item-container {
          flex-basis: 500px;
          width: 30%;
          height: auto;
          background: transparent;
          margin: 10px;
          padding: 20px;
          text-align: center;

          img {
            width: 100%;
          }

          &:before {
            content: '';
            background: rgab(0,0,0, 0.3);

          }


        }
      }


    }//end main-section
  }//end product-details

  // Contact Page
  // ===============
  &.contact {
    .main-section {

      img {
        &.logo-text {
          width: 100%;
          max-width: 300px;
        }

        &.lightning-bolts {
          width: 100%;
          max-width: 150px;
        }
      }//end image

      .contact-link {
        margin: 20px 0;
        text-align: center;
      }
    }//end main-section
  }


}//edn content-container
