@mixin form-reset {
  input {
    padding: 10px 10px;
    border: none;
    font-size: 14px;
    width: 200px;

    &:focus {
      outline: none;
    }
  }
}

.newsletter-signup {
  input.email {
    padding: 10px 10px !important;
    border: none !important;
    border-radius: 0px !important;
    height: 36px !important;
    width: 200px !important;

    &:focus {
      outline: none;
    }

  }

  .submit-btn {
    @include button-reset($h1);
    margin: 0 !important;
  }
}

#contact-form {
  @include form-reset;
  display: flex;
  flex-direction: column;

  .row-one {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 550px ) {
      flex-direction: column;
    }

    .form-name {
      width: 45%;
    }

    .form-email {
      width: 45%;
    }
  }



  .form-message {
    width: 100%;

    @media screen and (max-width: 550px ) {
      width: 80%;
    }
  }

  input, textarea {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 2px;
    width: 100%;
    margin: 5px;
    font-family: $font;
    font-weight: 300;
    font-size: 14px;

    &:focus {
      outline: rgba(black, 0.5) solid 1px;
    }
  }

  label {
    font-family: $font;
    font-weight: 300;
    font-size: 14px;
  }
}

.submit-btn {
  @include button-reset($h1);
}
