.site-name {
  color: $d2;
  position: absolute;
}
.hero-container {
  background-image: url('../images/01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  width: 100%;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, transparent 90%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .intro-content {
    position: relative;
    z-index: 2;
    width: 100%;

    .tagline {
      padding-top: 200px;
      h1 {
        color: $d2;
        text-align: center;
        font-size: 85px;
        font-weight: 500;
        line-height: 90px;
      }
    }
  }

  .form-content {
    position:relative;
    z-index: 2;
    width: 100%;

    p {
      text-align: center;
      color: $d3;
    }
  }

  .sign-up {
    @include form-reset;
    position: absolute;
    left: 50%;
    margin-left: -185px;

    .submit-btn {
      @include button-reset($h1);
    }
  }

}

.about-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 80px 250px;
  align-items: center;


  .about-logo {
    img {
      width: 400px;
      height: auto;
    }
  }

  .about-content {
    width: 460px;

    h4 {
      font-weight: 300;
      &:after {
        content: '';
        display: block;
        width: 70px;
        height: 3px;
        position: absolute;
        background: $h1;
        margin-top: 20px;
      }
    }
  }
}

.live-container {
  background-image: url('../images/07.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(black, 0.7);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .live-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 150px 0;
    z-index: 2;

    h4 {
      color: white;
      position: relative;

      &:before {
        @include line-under(70px);
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: -10px;
      }
      &:after {
        @include line-under(50px);
        position: absolute;
        left: 50%;
        margin-left: -25px;
        bottom: -20px;
      }
    }

    p {
      color: white;
    }

    iframe {
      width: 500px;
      height: 300px;
    }
    .sign-up {
      @include form-reset;
      padding-top: 40px;

      .submit-btn {
        @include button-reset($h1);
      }
    }
  }

}

.lex-container {
  background-image: url('../images/04.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  position: relative;
  padding: 230px;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(black, 0.7);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .lex-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      color: white;
      position: relative;

      &:before {
        @include line-under(70px);
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: -10px;
      }
      &:after {
        @include line-under(50px);
        position: absolute;
        left: 50%;
        margin-left: -25px;
        bottom: -20px;
      }
    }

    p {
      width: 750px;
      text-align: center;
      color: white;
    }

    h5 {
      color: white;
      font-size: 30px;
      text-transform: uppercase;
    }

    .lex-gallery {
      display: flex;
      justify-content: space-between;
      padding: 40px 0;

      img {
        width: 260px;
        height: 260px;
        margin: 5px;
      }
    }
  }
}

.jackdavid-container {
  background-image: url('../images/06.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  position: relative;
  padding: 230px;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(black, 0.7);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .jackdavid-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      color: white;
      position: relative;

      &:before {
        @include line-under(70px);
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: -10px;
      }
      &:after {
        @include line-under(50px);
        position: absolute;
        left: 50%;
        margin-left: -25px;
        bottom: -20px;
      }
    }

    p {
      width: 750px;
      text-align: center;
      color: white;
    }

    h5 {
      color: white;
      font-size: 30px;
      text-transform: uppercase;
    }

    .jackdavid-gallery {
      display: flex;
      justify-content: space-between;
      padding: 40px 0;

      img {
        width: 260px;
        height: 260px;
        margin: 5px;
      }
    }
  }
}

.videos-container {
  width: 100%;

  .slick-arrow {

  }

  .lex {
    background: url('../images/lex-vid.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
    padding: 80px 0;
    text-align: center;
    width: 100%;
  }

  .jackdavid {
    background: url('../images/group-vid.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
    padding: 80px 0;
    text-align: center;
    width: 100%;
  }

  .slick-slide {

    .overlay {
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(black, 0.6);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

    }

    .content {
      position: relative;
      z-index: 2;

      h3 {
        color: white;
      }
    }
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 80px 200px;
  align-items: center;

  h4 {
    text-align: center;
  }

}
