html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: $font;

  h1 {
    @include h1;
    color: $d1;
    font-weight: 300;
  }

  h2 {
    @include h2;
    color: $d1;
    font-weight: 300;
  }

  h3 {
    @include h3;
    color: $d1;
    font-weight: 300;
  }

  h4 {
    @include h4;
    color: $d1;
    font-weight: 300;
  }

  h5 {
    @include h5;
    color: $d1;
    font-weight: 300;
  }

  h6 {
    @include h6;
    color: $d1;
    font-weight: 300;
  }

  p {
    color: $d1;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }

  a {
    font-size: 20px;
    text-decoration: none;
  }
}
