html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;

  h1 {
    @include h1;
    color: $d1;
  }

  h2 {
    @include h2;
    color: $d1;
  }

  h3 {
    @include h3;
    color: $d1;
  }

  h4 {
    @include h4;
    color: $d1;
  }

  h5 {
    @include h5;
    color: $d1;
  }

  h6 {
    @include h6;
    color: $d1;
  }

  p {
    color: $d2;
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }
}

button {
  &:focus {
    outline: none;
  }
}
